body,
.sidebar-menu,
.panel-delivery-servers-pool .item,
.main-header .logo,
.pagination li a,
.popover,
.popover .popover-content,
body.ctrl-campaigns_reports.act-login .content-wrapper .login-box-body .login-box-msg,
body.ctrl-campaigns_reports.act-login .login-flex .login-form .login-box-body .login-box-msg,
body.ctrl-guest.act-index .login-flex .login-form .login-box-body .login-box-msg,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
boxes-mw-wrapper.row .small-box > .inner h2 {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

input,
select,
button,
input::-webkit-input-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder,
input.cke_dialog_ui_input_text,
select.cke_dialog_ui_input_select {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

pre,
code,
kbd,
samp,
tt {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.nav-tabs {
    position: relative;
    margin-bottom: -1px !important;
    border-bottom: 0 !important;
    z-index: 2;
}
.nav-tabs > li {
    z-index: 2;
    height: 40px;
    overflow: hidden;
    margin-right: -1px;
}
.nav-tabs > li.active {
    border-left: 1px solid #d2d6de;
    border-right: 1px solid #d2d6de;
    z-index: 3 !important;
}
.nav-tabs > li > a:hover {
    border-bottom: 0;
    border-left: 1px solid #d2d6de;
    border-right: 1px solid #d2d6de;
    border-top: 1px solid #d2d6de;
}
.nav-tabs + form {
    position: relative;
    z-index: 1;
}

.nav-tabs + .panel.no-top-border {
    margin-top: 0;
    border-color: #ddd !important;
    border-top-right-radius: 4px !important;
    border-top: 1px solid #ddd !important;
}