.nav-tabs {
    position: relative;
    margin-bottom: -1px !important;
    border-bottom: 0 !important;
    z-index: 2;
}
.nav-tabs > li {
    z-index: 2;
    height: 40px;
    overflow: hidden;
    margin-right: -1px;
}
.nav-tabs > li.active {
    border-left: 1px solid #d2d6de;
    border-right: 1px solid #d2d6de;
    z-index: 3 !important;
}
.nav-tabs > li > a:hover {
    border-bottom: 0;
    border-left: 1px solid #d2d6de;
    border-right: 1px solid #d2d6de;
    border-top: 1px solid #d2d6de;
}
.nav-tabs + form {
    position: relative;
    z-index: 1;
}

.nav-tabs + .panel.no-top-border {
    margin-top: 0;
    border-color: #ddd !important;
    border-top-right-radius: 4px !important;
    border-top: 1px solid #ddd !important;
}